body {
  background: rgb(229, 247, 247);
  font-family: "Shadows Into Light", cursive;
}

a {
  color: blue;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  font-size: 24px;
  text-align: center;
  margin: 30px 0;
  font-weight: bold;
}
.App-footer {
  font-size: 12px;
  text-align: center;
  margin: 30px 0;
}
